:root {
	--primary-color: #eb1254;
	--body-font: 'Open Sans', sans-serif;
	--cursive-font: 'Cinzel Decorative', cursive;
	--secondary-font: 'Montserrat', sans-serif;
	--main-white: #f3f3f3;
}
body {
	font-family: var(--body-font);
	background-color: var(--main-white);
}
.navbar {
	background: var(--primary-color);
}
.navbar-brand {
	text-transform: uppercase;
	font-weight: 100;
	font-family: var(--cursive-font);
	letter-spacing: 2px;
}
.nav-link {
	color: white !important;
	position: relative;
	text-transform: uppercase;
	font-weight: 100;
	margin: 0 1rem;
	letter-spacing: 1px;
}
.badge {
	background-color: royalblue !important;
}
h1 {
	font-family: var(--secondary-font);
	text-transform: capitalize;
}
